/* NAVIGATION */
nav {
    align-content: center;
    background-color: rgb(197, 197, 197);
    margin: 0;
    height: 44px;
    user-select: none;
}

nav menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

nav menu li {
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav menu a {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px 0px; */
    height: 100%;
    /* text-align: center; */
    text-decoration: none;
    color: #202020;
    font-size: 20px;

}

nav menu li:hover {
    background-color: #909090;

}

nav li {
    list-style: none;
}
nav .selected {
    cursor: default;
    background-color: #a0a0a0;
}
nav .selected:hover {
    cursor: default;
    background-color: #a0a0a0;
}

nav .selected::before {
    content: "•";
    font-size: 2em;
    margin-right: 0.5em;
}

/* CENTRAL PORTION */
main {
    display: flex;
    flex-direction: column;
    min-width: 60vw;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    padding: 0% 0px;
    min-height: 20px;
    user-select: none;
}



#roomspage {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 0.2em;
    overflow-y: scroll;
    width:100%;
    flex: 1;
    margin-top: 20px;
    margin-bottom: 10px;
}

.room-desc {
    text-decoration: none;
    border-radius: 5px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.room-desc:hover {
    background-color: #f0f0f0;
}

.room-desc * {
    margin-bottom: 10px;
    cursor: pointer;
}

.room-desc h2 {
    font-size: large;
}

.room-desc label {
    font-size: small;
}

.room-desc .username {
    font-size: medium;
    color: #202020;
    font-weight: bold;
    user-select: text;
}

.room-desc .profile-pic{
    width: 5em;
    outline-color: black;
    background-color: #20202040;
}

.pagebar {
    flex: 0;
    height: 20px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.pagebar a {
    text-decoration: none;
    color: black;
    height: 1.5em;
    width: 1.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.pagebar a:hover {
    background-color: rgba(245, 222, 179, 0.411);
}

.pagebar a[data-page="right"], .pagebar a[data-page="left"] {
    font-size: 1.2em;
}

.pagebar .selected-page {
    text-decoration:underline;
}

/* SEARCH */
#search_bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(197, 197, 197);
    height: 2.5em;
    user-select: none;
}

#search_bar > div {
    display: flex;
    align-items: center;
    margin-left: 2%;
}

#search_bar > div > * {
    margin-right: 4px;
    font-size: 0.95em;
}

#search_bar > div label {
    font-size: 1em;
}

#search_bar > div select {
    background-color: #f4f4f4;
    cursor: pointer;
    font-weight: 100;
    border-radius: 0.1em;
    padding-right: 1px;
    
}

#search_bar #search input[type=text] {
    padding: 0.1em;
    width: 20em;
    user-select: text;
}

@media (width < 600px), (height < 400px) {
    nav .selected::before {
        content: none;
    }

    nav {
        height: 36px;
    }

    nav menu a {
        font-size: 1.2em;
    }
}

@media (width < 800px), (height < 600px) {
    main {
        min-width: 100vw;
    }

    

    #search_bar > div > * {
        margin-right: 2px;
        font-size: 0.75em;
    }

    #search_bar > div label {
        font-size: 0.75em;
    }
    
    #search_bar > div select {
        border-radius: 0.05em;
        padding-right: 0.5px;
        
    }
    
    #search_bar #search input[type=text] {
        padding: 0.1em;
        width: 16em;
    }
}

@media (width < 500px), (height < 500px) {
    #roomspage {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-auto-rows: 100px;
        grid-gap: 0.1em;
        margin: 10px 0px;
    }
    
    .room-desc {
        border-radius: 2px;
    }
    
    .room-desc * {
        margin-bottom: 5px;
    }
    
    .room-desc h2 {
        font-size: 0.8em;
    }
    
    .room-desc label {
        font-size: 0.5em;
    }
    
    .room-desc .username {
        font-size: 1.1em;
        font-weight: normal;
    }
    
    .room-desc .profile-pic{
        width: 2.5em;
    }
    
    .pagebar a {
        height: 0.9em;
        width: 0.9em;
        border-radius: 2px;
        font-size: 0.8em;
    }

    .pagebar a[data-page="right"], .pagebar a[data-page="left"] {
        font-size: 0.9em;
    }

    #search_bar {
        flex-direction: column;
    }
}