footer {
    display: flex;
    flex-direction: row;
    flex: 0;
    bottom: 0%;
    height: 50px;
    background-color: rgb(255, 240, 218);
}

footer > div {
    display: flex;
    padding: 10px;
    align-items: center;
}

footer img {
    width: 1.5em;
    height: 1.5em;
}