
header {
    position: static;
    top: 0;
    height: 12%;
    background-color: #202020;
    align-items: center;
    padding:1%;
}

.flex-container {
    display: flex;
    flex-direction: row;  
    align-items: center;
    flex: 1;
    height: 100%;
}

#header_title {
    width: 12.5%;
    flex: 1 1 auto;
    align-items: center;
    justify-items: center;
}

#header_title * {
    font-family:serif;
    font-size: 2.5em;
    color: white;
}

#header_logo {
    display: flex;
    position: absolute;
    width: auto;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 1%;
    justify-content: center;
}

#header_logo  * {
    display: flex;
    width: 5%px;
    user-select: none;
}
