:root {
    --header-height: 110px;
}


header {
    position: static;
    top: 0;
    height: var(--header-height);
    background-color: #202020;
    align-items: center;
    padding: 20px;
    user-select: none;
}

.flex-container {
    display: flex;
    flex-direction: row;  
    align-items: center;
    flex: 1;
    height: 100%;
}

#header_title {
    width: 12.5%;
    flex: 1 1 auto;
    align-items: center;
    justify-items: center;
}



#header_title h1 {
    font-family:serif;
    font-size: 2.5em;
    color: white;
}

#header_logo {
    display: flex;
    position: absolute;
    width: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    top:10px;
    justify-content: center;

    transition: opacity 0.1s ease;
}

#header_logo  * {
    display: flex;
    height: 90px;
}

@media (width < 70em){
    #header_logo {
        opacity: 0;
    }
}

@media (width < 30em) {
    #header_title h1{
        display: none;
    }

    #header_title::after{
        content: "CC";
        font-family:serif;
        font-size: 2.5em;
        color: white;
    }
}

@media (height < 600px) {
    :root {
        --header-height: 60px;
    }

    header {
        padding: 10px;
    }
    #header_logo {
        opacity: 0;
    }
}