nav {
    display: flex;
    align-content: center;
    background-color: rgb(197, 197, 197);
    margin: 0;
    height: 2.5em;
}

nav menu {
    display: flex;
    justify-self: center;
    width: 100%;
    height: 100%;
}

nav menu a {
    text-decoration: none;
    color: #202020;
    font-size: 20px;

}

nav li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

main {
    display: flex;
    flex-direction: row;
}

#main_content {
    flex: 4;
}

#chat_content {
    flex: 1;
    padding: 10px;
}

/*  */

:root {
    --white-key-width: 60px;
    --white-key-height: calc(var(--white-key-width) * 9 / 2);
    --black-key-width: calc(var(--white-key-width) * 7 / 12);
    --black-key-height: calc(var(--white-key-width) * 2.8);
    --padding-diff: calc(var(--white-key-width)/24);
    --first-padding: calc(var(--black-key-width) + var(--padding-diff));
    --last-padding: calc(var(--black-key-width) - var(--padding-diff));
}

.keyboard {
    display: flex;
    flex-direction: column;
}

.keys-half {
    display: flex;
    flex-direction: row;
}

.keyboard div[class*="scale-"] {
    display: flex;
    position: relative;
    flex-direction: row;
    width: calc(var(--white-key-width)*7);
    height: var(--white-key-height);
    font-size: 0.8em;
    font-weight: 500;
}

.keyboard div[class*="scale-"] div[data-note*="s"] {
    color: wheat;
    position: absolute;
    height: var(--black-key-height);
    width: var(--black-key-width);
    background-color: #202020;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 0.25em;
    cursor: pointer;
}

.keyboard div[class*="scale-"] div:not([data-note*="s"]) {
    color: #202020;
    display: flex;
    width: var(--white-key-width);
    outline: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 0.25em;
    cursor: pointer;
}

.keyboard div[class*="scale-"] div[data-note*="s"]:hover {
    background-color: #404040;
}

.keyboard div[class*="scale-"] div:not([data-note*="s"]):hover {
    background-color: #c0c0c0;
    outline: 1px solid black;
}

.keyboard div[class*="scale-"] div[data-note*="cs"] {
    left: var(--first-padding); 
}

.keyboard div[class*="scale-"] div[data-note*="ds"] {
    left: calc(var(--first-padding) + 2*var(--black-key-width)); 
}

.keyboard div[class*="scale-"] div[data-note*="fs"] {
    right: calc(var(--last-padding) + 4*var(--black-key-width)); 
}

.keyboard div[class*="scale-"] div[data-note*="gs"] {
    right: calc(var(--last-padding) + 2*var(--black-key-width)); 
}

.keyboard div[class*="scale-"] div[data-note*="as"] {
    right: calc(var(--last-padding)); 
}

@media (width < 600px) {
    nav li {
        margin-left: 10px;
    }
}

@media (height < 600px) {
    nav menu a {
        font-size: 1em;
    }
}