@font-face {
    font-family: joanRegular;
    src: url(../resources/fonts/Joan-Regular.ttf);
}

* {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh
}

html {
    height: 100vh
}

main {
    flex: 1;
    overflow: none;
}