nav {
    display: flex;
    align-content: center;
    background-color: rgb(197, 197, 197);
    margin: 0;
    height: 2.5em;
}

nav menu {
    display: flex;
    justify-self: center;
    width: 100%;
    height: 100%;
}

nav menu a {
    text-decoration: none;
    color: #202020;
    font-size: 20px;

}

nav li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

main {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 60%;
    align-self: center;
    justify-self: center;
    padding: 10% 0px;
}

#profile_title {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

#your_profile {
    position: relative;
    display: flex;
    flex-direction: column;
}

main .profile-pic + span {
    cursor: pointer;
}

#bio {
    margin: 0% 10%;
}

@media (width < 600px) {
    nav li {
        margin-left: 10px;
    }
}

@media (height < 600px) {
    nav menu a {
        font-size: 1em;
    }
}