/* NAVIGATION */
nav {
    align-content: center;
    background-color: rgb(197, 197, 197);
    margin: 0;
    height: 44px;
    user-select: none;
}

nav menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

nav menu li {
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav menu a {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px 0px; */
    height: 100%;
    /* text-align: center; */
    text-decoration: none;
    color: #202020;
    font-size: 20px;

}

nav menu li:hover {
    background-color: #909090;

}

nav li {
    list-style: none;
}
nav .selected {
    cursor: default;
    background-color: #a0a0a0;
}
nav .selected:hover {
    cursor: default;
    background-color: #a0a0a0;
}

nav .selected::before {
    content: "•";
    font-size: 2em;
    margin-right: 0.5em;
}

/* CENTRAL PORTION */
#create_room_main {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    user-select: none;
    padding: 20px;
}

#create_room_main h1 {
    font-size: 3.6em;
    font-weight: 100;
    margin-bottom: 0.5%;
    width: 550px;
    text-align: start;
    user-select:none;
}

#create_room_form {
    /* border-top: 3px solid black;
    border-bottom: 3px solid black; */
    display: flex;
    flex-direction: column;
    padding: 1% 1%;
}

#create_room_form label {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 0.2%;
    user-select: none;
}

#create_room_form input , #create_room_form textarea {
    font-size: 1.4em;
    font-weight: lighter;
    padding: 2px;
    padding-left: 5px;
    width: 500px;
    margin-bottom: 2%;
}

#create_room_form textarea {
    font-size: 1.2em;
    resize: none;
    height: 5em;
}

#create_room_form input[type=submit] {
    margin-top: 20px;
    color: wheat;
    background-color: #202020;
    border: none;
    width: 100%;
    border-radius: 2px;
    padding: 16px 0px;
    cursor: pointer;
}

#create_room_form input[type=submit]:hover {
    background-color: rgb(62, 62, 62);
    
}

#create_room_form input[type=submit]:focus {
    outline: 1.5px solid white;
    outline-offset: -2px;
}

#create_room_form input[type=submit]:active {
    background-color: rgb(40, 40, 40);
    outline-style: dotted;
}


@media (width < 600px), (height < 600px) {
    nav .selected::before {
        content: none;
    }

    nav {
        height: 36px;
    }

    nav menu a {
        font-size: 1.2em;
    }

    #create_room_main h1 {
        font-size: 2em;
        margin-bottom: 0.5%;
        width: 10em;
        text-align: start;
        user-select:none;
    }

    #create_room_form {
        /* border-top: 3px solid black;
        border-bottom: 3px solid black; */
        padding: 0.1% 0.1%;
    }
    
    #create_room_form label {
        font-size: 1em;
        font-weight: bold;
        margin-bottom: 0.1%;
        user-select: none;
    }
    
    #create_room_form input , #create_room_form textarea {
        font-size: 1em;
        font-weight: lighter;
        padding: 2px;
        padding-left: 5px;
        width: 17em;
        margin-bottom: 0.5%;
    }
}