footer {
    display: flex;
    flex-direction: row;
    flex: 0;
    bottom: 0%;
    height: 30px;
    background-color: rgb(255, 234, 202);
    padding: 10px;
    align-items: center;
    width: auto;
    user-select: none;
}

#author {
    flex: 1;
    display: flex;
    justify-content: center;
}

#linkedin_div {
    flex: 1;
    display: flex;
    justify-content: center;
}

#linkedin_div a {
    color: black;
    text-decoration: none;
    
}

#linkedin_div img{
    filter:
        contrast(0%)
        brightness(30%);
    height: 1.1em;
}

#github_div {
    flex: 1;
    display: flex;
    justify-content: center;
}

#github_div a {
    color: black;
    text-decoration: none;
    
}

#github_div img {
    height:1.1em;
}

@media (width < 600px), (height < 400px) {

    footer{
        height: 30px;
    }
    
    #author {
        font-size: 0.8em;
        flex: 3;
    }

    #linkedin_div {
        flex: 1;
    }

    #github_div {
        flex: 1;
    }

    #linkedin_div a {
        font-size: 0px;
    }

    #linkedin_div img{
        height: 20px;
    }
    
    #github_div a {
        font-size: 0px;
    }

    #github_div img {
        height:20px;
    }
}